html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem auto 5rem;
  height: 100vh;
}
a {
  text-decoration: none;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  align-items: center;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
header .brand {
  flex: 3 60rem;
}
header .login-area {
  flex: 1 20rem;
}
main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .placeholder {
  display: flex;
  width: 100%;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
